{{define "inicio"}}

{{template "cabecera"}}


<br/><br/>
<center><h1>TRABAJADORES EMPRESA</h1></center>
    
    <center><a name="" id="" class="btn btn-primary" href="/crear" role="button">agregar trabajador</a><center/>
<br/><br/>


    <table class="table">
        <thead>

            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>APELLIDO</th>
                <th>CORREO</th>
                <th>ACCIONES</th>
            </tr>

        </thead>
    
        <tbody>
    {{range.}}
            <tr>
                <td>{{.Id}}</td>
                <td>{{.Nombre}}</td>
                <td>{{.Apellido}}</td>
                <td>{{.Correo}}</td>
                <td><a name="" id="" class="btn btn-warning" href="/editar?id={{.Id}}" role="button">Editar</a>
                | 
                <a name="" id="" class="btn btn-danger" href="/borrar?id={{.Id}}" role="button">Borrar</a>
                </td>

            </tr>
    {{end}}
        </tbody>
    
    </table>
{{template "pie"}}
{{end}}
